body{
	background-color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	font-family: "PT Sans Regular", "PT Sans", "Arial";
	text-transform: uppercase;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Bold", "PT Sans", "Arial";
	text-transform: uppercase;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Bold", "PT Sans", "Arial";
	text-transform: uppercase;
}

.container {
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.main-background {
	background: url("/img/background-sedona.jpg") no-repeat;
	min-height: 512px;
}