body {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	font-family: "PT Sans", "Arial";
	text-transform: uppercase;
	position: relative;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Bold", "PT Sans", "Arial";
	text-transform: uppercase;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Bold", "PT Sans", "Arial";
	text-transform: uppercase;
}
p {
	margin: 0;
	padding: 0;
}
.container {
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	position: relative;
}
.main-navigation {} .main-navigation a {
	color: #000000;
	text-decoration: none;
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation a:active {
	font-weight: 700;
	color: #000000;
	opacity: 0.3;
}
.main-navigation .active {
	color: #827167;
}
.main-navigation .active:hover {
	color: #604e43;
}
.main-navigation .active:active {
	color: #e5e3e1;
}
.main-navigation ul {
	margin: 0;
	padding: 15px 46px;
	font-size: 0;
	list-style: none;
}
.main-navigation li {
	width: 169px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}
.main-navigation li:nth-child(3) {
	text-align: right;
}
.main-navigation li:last-child {
	text-align: right;
}
.main-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}
.main-background {
	padding-top: 58px;
	text-align: center;
	background: url("/img/background-sedona.jpg") no-repeat;
	height: 454px;
}
.welcome-text {
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
.main-title {
	padding-top: 50px;
	padding-bottom: 55px;
}
.title {
	max-width: 438px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}
.main-title p {
	margin: 0;
	color: #333333;
	max-width: 488px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.reason-one {
	position: relative;
	min-height: 257px;
}
.big-reason {
	width: 256px;
	padding-top: 44px;
	padding-bottom: 39px;
	background-color: #81b3d2;
	color: #ffffff;
}
.reason-one-text {
	float: left;
	position: relative;
	z-index: 100;
}
.big-reason h2 {
	padding: 0 52px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 23px;
}
.big-reason p {
	text-align: center;
	padding: 0 37px;
}
.reason-nmbr {
	margin-bottom: 25px;
}
.reason-one-img {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.reason-one-img img {
	width: auto;
	height: 100%;
}
.recomendations {
	font-size: 0;
}
.features-item {
	width: 164px;
	padding-left: 46px;
	padding-right: 46px;
	padding-top: 160px;
	padding-bottom: 64px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.place-item::before {
	content: " ";
	position: absolute;
	top: 60px;
	left: 90px;
	width: 75px;
	height: 72px;
	background: transparent url("../img/icons/sprite.png") center no-repeat;
	background-position: -299px -50px;
}
.food-item::before {
	content: " ";
	position: absolute;
	top: 60px;
	left: 90px;
	width: 74px;
	height: 70px;
	background: transparent url("../img/icons/sprite.png") center no-repeat;
	background-position: -399px -52px;
}
.souvenires-item::before {
	content: " ";
	position: absolute;
	top: 56px;
	left: 95px;
	width: 64px;
	height: 76px;
	background: transparent url("../img/icons/sprite.png") center no-repeat;
	background-position: -520px -43px;
}
.features-item b {
	display: block;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 25px;
}
.reason-two {
	position: relative;
	min-height: 257px;
}
.reason-two-text {
	float: right;
	position: relative;
	z-index: 100;
}
.reason-two-img {
	position: absolute;
	width: auto;
	height: 100%;
}
.reason-two-img img {
	width: auto;
	height: 100%;
}
.other-reasons {
	background-color: #eeeeee;
	font-size: 0;
}
.small-reason {
	width: 156px;
	display: inline-block;
	vertical-align: top;
	padding-top: 47px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 14px;
}
.small-reason h2 {
	margin-bottom: 25px;
}
p.nmbr4 {
	padding: 0 7px;
}
.hotel-search
/*54+30+28+48+50+87 */

{
	position: relative;
	padding-top: 54px;
	text-align: center;
}
.hotel-search-title {
	display: block;
	margin-bottom: 28px;
	color: #000000;
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
}
.hotel-search p {
	padding: 0 165px;
	line-height: 24px;
	margin-bottom: 50px;
}
.hotel-search-block {
	width: 569px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255, 255, 255, 1);
}
.btn {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	font-family: "PT Sans", "Arial";
	color: #ffffff;
	text-transform: uppercase;
	background-color: #766357;
	border: none;
	outline: none;
	cursor: pointer;
}
button.hotel {
	padding: 32px 0;
	width: 100%;
}
.hotel-search-form {
	position: absolute;
	width: 460px;
	background: #ffffff;
	padding: 55px;
}
.field {
	width: 100%;
	text-align: left;
	font-size: 0;
	margin-bottom: 30px;
	position: relative;
}
.field label {
	display: inline-block;
	vertical-align: center;
	width: 115px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	padding: 11px 0;
}
.field input {
	display: inline-block;
	vertical-align: center;
	width: 329px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	padding-left: 16px;
	border: none;
	background: #f2f2f2;
}
.field input:hover {
	border: none;
	background: #ebebeb;
}
.field input:focus {
	outline: 3px solid #e5e5e5;
	background: #ffffff;
}
.field .calendar {
	position: absolute;
	top: 10px;
	left: 430px;
	border: none;
	outline: none;
	width: 21px;
	height: 22px;
	background: url("../img/icons/sprite.png") center no-repeat;
	background-position: -50px -200px;
}
.field .calendar:hover {
	background-position: -99px -199px;
}
.field .calendar:active {
	background-position: -150px -200px;
}
.people {
	width: 100%;
	text-align: left;
	position: relative;
}
.adults {
	width: 230px;
	float: left;
}
.children {
	width: 180px;
	float: right;
}
.number-field {
	font-size: 0;
}
.number-field label,
.number-field input {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	padding: 10px 0;
}
.number-field input {
	width: 114px;
	border: none;
	background: #f2f2f2;
	text-align: center;
}
.adults label {
	width: 115px;
}
.children label {
	width: 66px;
}
.number-field .decrease-btn,
.number-field .increase-btn {
	border: none;
	outline: none;
}
.decrease-btn {
	position: absolute;
	width: 12px;
	height: 3px;
	background: url("../img/icons/sprite.png") no-repeat center;
	background-position: -113px -23px;
}
.decrease-btn:hover {
	background-position: -156px -23px;
}
.decrease-btn:active {
	background-position: -195px -24px;
}
.adults .decrease-btn {
	top: 20px;
	left: 126px;
}
.children .decrease-btn {
	top: 20px;
	left: 360px;
}
.increase-btn {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url("../img/icons/sprite.png") no-repeat center;
	background-position: -207px -50px;
}
.increase-btn:hover {
	background-position: -207px -66px;
}
.increase-btn:active {
	background-position: -207px -84px;
}
.adults .increase-btn {
	top: 16px;
	left: 202px;
}
.children .increase-btn {
	top: 16px;
	left: 435px;
}
.button-search {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 21px 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700px;
	background: #81b3d2;
	margin-top: 50px;
}
.button-search:hover {
	background: #669ec0;
}
.button-search:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.map-wrapper {
	width: 768px;
	height: 593px;
}
.hotel-selection {
	padding-left: 46px;
	padding-right: 46px;
	font-size: 0;
	background: url(../img/background-hotel-page.jpg) no-repeat;
}
.selection-type {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.selection-type legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.selection-type label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}
.selection-type p {
	margin: 0;
	margin-top: 25px;
}
.selection-type p:last-child {
	margin-bottom: 33px;
}
.infrastructure {
	width: 211px;
	margin-top: 30px;
}
.accomodation {
	width: 213px;
	margin-top: 30px;
	padding-left: 30px;
}
.infrastructure label,
.accomodation label {
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}
.infrastructure input[type="checkbox"],
.accomodation input[type="checkbox"] {
	display: none;
}
.infrastructure label:before,
.accomodation label:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 22px;
	height: 22px;
	background-image: url("../img/icons/sprite.png");
	background-position: -113px -317px;
}
.infrastructure input[type="checkbox"]:checked + label:before,
.accomodation input[type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 26px;
	height: 22px;
	background-image: url("../img/icons/sprite.png");
	background-position: -60px -313px;
}
.infrastructure input[type="checkbox"]:disabled + label:before,
.accomodation input[type="checkbox"]:disabled + label:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 26px;
	height: 22px;
	background-image: url("../img/icons/sprite.png");
	background-position: -161px -317px;
}
.price-range {
	margin-top: 30px;
	width: 222px;
	color: #ffffff;
}
.price-range span {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
}
.price-range p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	padding-left: 5px;
}
.price-control {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-control::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
}
.price-control label {
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	vertical-align: top;
	cursor: pointer;
}
.price-control .min-price,
.price-control .max-price {
	width: 79px;
	padding-left: 28px;
}
.price-control input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}
.range-controls {
	position: relative;
	margin-bottom: 30px;
}
.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	height: 2px;
	width: 80%;
	background: #ffffff;
}
.toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.toggle:hover {
	background: #1c4f80;
}
.min-toggle {
	left: 0;
}
.max-toggle {
	left: 80%;
}
.btn-show {
	display: block;
	width: 133px;
	margin: 0 auto;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.btn-show:hover {
	color: #000000;
	background: #ffffff;
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.result-range {
	padding: 0 46px;
}
.search-result {
	width: 135px;
	float: left;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 30px;
}
.result-filters {
	width: 541px;
	float: right;
	padding: 35px 0;
}
.result-filters span,
.result-filters ul {
	display: block;
}
.result-filters span {
	width: 87px;
	float: left;
	padding-left: 13px;
	font-size: 12px;
	line-height: 18px;
}
.sorting {
	width: 320px;
	float: left;
}
.indicators {
	width: 26px;
	float: right;
	font-size: 0;
	text-align: right;
	position: relative;
}
.indicators a {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-right: 6px;
}
.indicators .up::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #cccccc transparent;
}
.indicators .up:hover::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #000000 transparent;
}
.indicators .up:active::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #81b3d2 transparent;
}
.indicators .down.active:before {
	content: "";
	position: absolute;
	top: 2px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #81b3d2 transparent transparent transparent;
}
.indicators .down::before {
	content: "";
	position: absolute;
	top: 2px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #cccccc transparent transparent transparent;
}
.indicators .down:hover::before {
	content: "";
	position: absolute;
	top: 2px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #000000 transparent transparent transparent;
}
.indicators .down:active::before {
	content: "";
	position: absolute;
	top: 2px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #81b3d2 transparent transparent transparent;
}
.result-filters ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 18px;
}
.result-filters li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 12px;
	vertical-align: top;
}
.result-filters a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #cccccc;
}
.sorting a {
	border-bottom: 1px dotted #81b3d2;
}
.sorting a:hover {
	color: #81b3d2;
}
.sorting a:active {
	color: #000000;
	border-bottom: 1px dotted #000000;
}
.sorting .active,
.sorting .active:active {
	color: #81b3d2;
	border-bottom: none;
}
.sorting li {
	margin-right: 34px;
}
.sorting li:first-child {
	margin-left: 28px;
}
.hotel-preview {
	padding-left: 46px;
	padding-right: 46px;
	border-top: 1px solid #e5e5e5;
}
.hotel-preview:last-child {
	border-bottom: 1px solid #e5e5e5;
}
.hotel-image {
	width: 135px;
	padding-top: 31px;
	padding-bottom: 31px;
	float: left;
}
.hotel-image img {
	width: 135px;
	height: 90px;
}
.hotel-info {
	width: 343px;
	padding-left: 15px;
	padding-right: 32px;
	padding-top: 26px;
	padding-bottom: 31px;
	float: left;
}
.hotel-info a {
	text-decoration: none;
}
.hotel-name {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.hotel-name:hover {
	color: #81b3d2;
}
.hotel-name:active {
	color: #cacaca;
}
.hotel-marks {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 0;
	line-height: 0;
}
.type-accomodation,
.price-accomodation {
	width: 116px;
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
}
.hotel-action {
	min-height: 27px;
	font-size: 0;
}
.btn-action {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
}
.more {
	width: 110px;
	padding: 6px 0;
	margin-right: 6px;
	background: #81b3d2;
}
.more:hover {
	background: #669ec0;
}
.more:active {
	color: #94b9d2;
	background: #5496bd;
}
.book {
	width: 142px;
	padding: 6px 0;
	background: #766357;
}
.book:hover {
	background: #604e43;
}
.book:active {
	color: #827872;
	background: #503e33;
}
.hotel-rating {
	width: 151px;
	text-align: right;
	padding-top: 27px;
	padding-bottom: 30px;
	font-size: 0;
	float: left;
}
.stars {
	min-height: 18px;
	margin-bottom: 43px;
	position: relative;
}
.star::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 17px;
	background: url("../img/icons/sprite.png");
	background-position: -249px -150px;
}
.star.two::before {
	top: 0;
	right: 21px;
}
.star.three::before {
	top: 0;
	right: 42px;
}
.star.four::before {
	top: 0;
	right: 61px;
}
.rating-mark {
	display: inline-block;
	width: 112px;
	vertical-align: bottom;
	padding: 6px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666666;
	background: #f2f2f2;
}
.main-footer {} .footer-index {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
}
.footer-block {
	width: 256px;
	float: left;
	text-align: center;
}
.hashtag {
	padding: 50px 58px;
}
.hashtag b {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
}
.social-button {
	padding: 37px 0;
	font-size: 0;
}
.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin-right: 6px;
}
.social-btn:last-child {
	margin-right: 0;
}
.social-btn-tw {
	background: #81b3d2 url("../img/icons/sprite.png") center no-repeat;
	background-position: -51px -251px;
}
.social-btn-tw:hover {
	background: #669ec0 url("../img/icons/sprite.png") center no-repeat;
	background-position: -51px -251px;
}
.social-btn-tw:active {
	background: #5496bd url("../img/icons/sprite.png");
	background-position: -51px -251px;
}
.social-btn-fb {
	background: #81b3d2 url("../img/icons/sprite.png") center no-repeat;
	background-position: -99px -252px;
}
.social-btn-fb:hover {
	background: #669ec0 url("../img/icons/sprite.png") center no-repeat;
	background-position: -99px -252px;
}
.social-btn-fb:active {
	background: #5496bd url("../img/icons/sprite.png");
	background-position: -99px -252px;
}
.social-btn-yout {
	background: #81b3d2 url("../img/icons/sprite.png") center no-repeat;
	background-position: -151px -251px;
}
.social-btn-yout:hover {
	background: #669ec0 url("../img/icons/sprite.png") center no-repeat;
	background-position: -151px -251px;
}
.social-btn-yout:active {
	background: #5496bd url("../img/icons/sprite.png");
	background-position: -151px -251px;
}
.developer {
	padding: 40px 0;
}
.development-info {
	font-size: 0;
}
.development-info span {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
	margin-right: 8px;
	padding: 7px 0;
}
.developer-logo {
	width: 113px;
	height: 39px;
	display: inline-block;
	vertical-align: center;
	background: url("../img/icons/sprite.png");
	background-position: -50px -101px;
}
.developer-logo:hover {
	background-position: -49px -52px;
}
.developer-logo:active {
	background-position: -50px -150px;
}
